.neoric-gallery { 
    display: flex; 
    align-items: center; 
} 

.neoric-gallery__thumbs { 
    display: flex; 
    margin-right: 12px; 
    margin-bottom: 40px;
    flex-direction: column; 
    max-height: 480px; 
    gap: 12px; 
} 

.neoric-gallery__thumb { 
    background: none; 
    border: none; 
}

.neoric-gallery__thumb img { 
    border-radius: 3px; 
    cursor: pointer; 
} 

.neoric-gallery__main { 
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.neoric-gallery__main img { 
    width: 100%; 
    border-radius: 5px; 
}

.neoric-gallery__slide.is-active { 
    display: flex; 
    width: 480px 
} 

.neoric-gallery__slide { 
    display: none; 
} 

.neoric-gallery__dots { 
    display: none; 
} 

.dot { 
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background: #f8f8f8; 
} 

.dot.active { 
    background: #e5e5e5; 
    box-shadow: inset 0px 3px 6px #00000029; 
}

.neoric-gallery__arrows {

    display: flex;
    justify-content: center;
    gap: 12px;

    margin-top: 10px;

}

.neoric-gallery__arrow {

    border: none;
    background: none;

    font-size: 22px;
    cursor: pointer;

    color: #999;

}

.neoric-gallery__arrow:hover {
    color: #333;
}

@media (max-width: 1080px) {
    .neoric-gallery {
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .neoric-gallery__thumbs {
        display: none;
    }

    .neoric-gallery__dots{
        display: flex;
        justify-content: center;
        gap: 6px;
    }

    .neoric-gallery__main {
        display: flex;
        flex-direction: row;
        gap: 7px;
        scrollbar-width: none;
        border-radius: 5px;
        width: 500px;
        overflow: hidden;
    }

    .neoric-gallery__track {
        display: flex;
        gap: 7px;
        transition: transform .35s ease;
    }

    .neoric-gallery__slide, .is-active {
        display: block;
    }

    .neoric-gallery__slide {
        scroll-snap-align: center;
        border-radius: 5px;
        width: 350px;
        flex-shrink: 0;
    }

        .neoric-gallery__slide.is-active {
        width: 350px;
    }

    .neoric-gallery__slide img {
        width: 350px;
        height: auto;
        display: block;
    }

    .neoric-gallery__arrows{
        display:none;
    }
}